<div data-magellan-expedition="fixed">
  <dl class="sub-nav">
    <dd><a href="#/d3">Analysis</a></dd>
    <dd><a href="#/">Home</a></dd>
    <dd><a href="#/logout">Log out</a></dd>
  </dl>
</div>

<ng-view></ng-view>
